Repository USDepartmentofLabor/ui-claimant-experience-pilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-dockerlint, check-makefile

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 21.8b0
    hooks:
      - id: black
        language_version: python3
        exclude: >
          (?x)^(
            scripts/gen-docs-index|
          )$

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: fix-encoding-pragma
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://gitlab.com/pycqa/flake8.git
    rev: 3.9.2
    hooks:
      - id: flake8

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  # See https://github.com/pre-commit/pre-commit/issues/532
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.32.0
    hooks:
      - id: eslint
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        additional_dependencies:
          - eslint@7.32.0
          - eslint-plugin-react@7.25.1

  # hadolint v2.7.0 incorrectly points to a non-existent v2.6.1 docker image.
  # stay pinned on v2.6.0 until that issue is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.6.0
    hooks:
      - id: hadolint-docker

  - repo: local
    hooks:
      - id: make-dockerlint
        name: redcoolbeans/dockerlint
        entry: make
        description: Runs make dockerlint-run
        language: system
        args: ["dockerlint-run"]
        files: Dockerfile
        pass_filenames: false

  - repo: local
    hooks:
      - id: make-security
        name: Check Security
        entry: make
        description: Runs make security
        language: system
        args: ["security"]
        always_run: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-makefile
        name: Check Makefile
        entry: scripts/check-makefile.py
        language: script
        files: (Makefile|claimant/Makefile)

  - repo: local
    hooks:
      - id: check-adrs
        name: Check ADRs
        entry: scripts/check-adrs.py
        language: script
        pass_filenames: false

Fix container build setup (#245)
  Makefile
  claimant/README.md
Due: check-makefile

Claim symmetric encryption (#219)
  Dockerfile
  core/.env-example
  core/claim_encryption.py
  core/settings.py
  core/tests.py
Due: make-dockerlint

Add react query devtools (#246)
  claimant/README.md
  claimant/src/App.tsx
Due: none

Re-use Redis secret for claims till we provision WCMS (#247)
  core/settings.py
Due: none

Add /swa/v1/claims API endpoint (#228)
  api/models/event.py
  api/models/swa.py
  api/models/tests.py
  swa/tests.py
  swa/urls.py
  swa/views.py
Due: none

Add claim.status column (#248)
  api/migrations/0008_claim_status.py
  api/models/claim.py
  api/models/tests.py
Due: none

Fix SonarQube code smells (#249)
  api/views.py
  claimant/src/i18n.ts
  claimant/src/queries/RequestErrorBoundary.tsx
  claimant/src/queries/whoami.test.tsx
  claimant/src/setupProxy.tsx
  core/settings.py
  core/utils.py
  login-dot-gov/tests.py
  login-dot-gov/views.py
  swa/middleware/auth.py
  swa/middleware/jwt_authorizer.py
Due: none

Document common dev setup tasks (#251)
  README.md
  claimant/Makefile
  claimant/README.md
  claimant/cypress/integration/tests/claim-form.spec.js
  setup-cypress-tests.sh
Due: check-makefile

Quiet eslint warnings (#253)
  claimant/src/queries/RequestErrorBoundary.test.tsx
  claimant/src/queries/whoami.test.tsx
Due: none

Add REACT_APP_FAKE_WHOAMI env var to fake authentication (#254)
  claimant/.env-example
  claimant/README.md
  claimant/src/queries/whoami.ts
Due: none

NODE_ENV=production inside docker build (#256)
  Dockerfile
  claimant/package.json
Due: make-dockerlint

Add Google Tag Manager incl Google Analytics
  claimant/public/index.html
Due: none

Claim schema validation (#221)
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  api/claim_request.py
  api/claim_validator.py
  api/tests.py
  api/views.py
  claimant/cypress/integration/tests/claim-form.spec.js
  claimant/cypress/support/commands.js
  claimant/src/components/form/fields/TextField.test.tsx
  claimant/src/components/form/fields/TextField.tsx
  claimant/src/i18n/en/home.ts
  claimant/src/pages/Home/Home.tsx
  claimant/src/types.d.ts
  home/templates/idp.html
  requirements.txt
  schemas/claim-v1.0.json
  schemas/claimant.json
Due: make-dockerlint, check-makefile

Show IdP links only after SWA selection (#262)
  claimant/cypress-dev.json
  claimant/cypress.json
  claimant/cypress/integration/tests/audits.spec.js
  claimant/src/pages/Home/Home.tsx
  home/templates/idp.html
Due: none

GET for claim details (#260)
  api/models/claim.py
  api/models/event.py
  api/models/tests.py
  swa/tests.py
  swa/urls.py
  swa/views.py
Due: none

Add PATCH claim status endpoint (#252)
  api/models/claim.py
  api/models/tests.py
  api/test_utils.py
  swa/tests.py
  swa/views.py
Due: none

Mark Claim as complete on valid submit/write (#263)
  api/models/claim.py
  api/models/tests.py
  api/tests.py
  api/views.py
  swa/tests.py
Due: none

Add to server side template
  home/templates/base.html
Due: none

Skip test coverage for some things that must be done live (#257)
  core/celery.py
  core/settings.py
  core/tasks.py
  swa/middleware/auth.py
Due: none

TEST SITE banner for all sites but production (#264)
  core/.env-example
  core/settings.py
  home/templates/_header.html
Due: none

Diagram of Claim Events, delete STARTED (#259)
  api/models/claim.py
  api/models/tests.py
  docs/claim-event-workflow.drawio
  docs/claim-events-workflow.md
  swa/tests.py
Due: none

Fix bucket configuration (#265)
  README.md
  core/claim_storage.py
  core/settings.py
  core/test_runner.py
Due: none

Add branch to PATCH to check for 'fetched'
  swa/tests.py
  swa/views.py
Due: none

Only allow one value in fetch
  swa/tests.py
  swa/views.py
Due: none

Remove unnecessary argument; allow True or true
  swa/views.py
Due: none

Fix copy pasta
  swa/tests.py
Due: none

Delete claim artifacts (#266)
  api/models/claim.py
  api/models/swa.py
  api/models/tests.py
  api/tests.py
  api/views.py
  core/claim_storage.py
  core/tests.py
  swa/tests.py
  swa/views.py
Due: none

More copy pasta
  swa/tests.py
Due: none

Fix celery logs (#267)
  Makefile
  docs/tasks.md
  start-server.sh
Due: check-makefile

Quiet error logging in tests where we expect errors (#255)
  claimant/src/pages/Home/Home.test.tsx
  claimant/src/pages/Whoami/Whoami.test.tsx
  claimant/src/queries/RequestErrorBoundary.test.tsx
Due: none

Add note about running migrations for environment setup (#288)
  README.md
Due: none

Install hiredis and redis-cli, encrypt Celery messages (#277)
  Dockerfile
  core/celery.py
  core/settings.py
  docker-compose-services.yml
  requirements.txt
Due: make-dockerlint

Add a working logout button (#287)
  api/tests.py
  api/urls.py
  api/views.py
  claimant/.eslintrc.yml
  claimant/cypress/integration/tests/home-page.spec.js
  claimant/src/App.test.tsx
  claimant/src/App.tsx
  claimant/src/i18n/en/common.ts
  claimant/src/index.tsx
  claimant/src/queries/logout.ts
Due: none

Save partial claims symmetrically encrypted (#279)
  api/claim_request.py
  api/claim_validator.py
  api/tests.py
  api/views.py
  claimant/cypress/integration/tests/claim-form.spec.js
  claimant/cypress/support/commands.js
  claimant/src/components/form/fields/CheckboxField.test.tsx
  claimant/src/components/form/fields/CheckboxField.tsx
  claimant/src/i18n/en/home.ts
  claimant/src/pages/Home/Home.test.tsx
  claimant/src/pages/Home/Home.tsx
  claimant/src/styles.scss
  claimant/src/types.d.ts
  core/claim_encryption.py
  core/email.py
  requirements.txt
  schemas/claim-v1.0.json
Due: none

Create schema documentation artifacts (#289)
  Makefile
  README.md
  core/settings.py
  requirements-ci.txt
Due: check-makefile

Schema fields (#290)
  api/tests.py
  claimant/cypress/integration/tests/claim-form.spec.js
  claimant/src/pages/Home/Home.tsx
  claimant/src/types.d.ts
  schemas/claim-v1.0.json
Due: none

Include the xo text editor in container for debugging files (#291)
  requirements.txt
Due: none

Do not attempt django_extensions in WCMS (#294)
  Dockerfile
  core/settings.py
Due: make-dockerlint

More schema fields (#293)
  api/tests.py
  schemas/claim-v1.0.json
Due: none

Document how to create a public key file in a WCMS container (#298)
  README.md
  requirements.txt
Due: none
